.boxy {
  padding: 1em;
  margin: 1em 0em;
  border: 1px solid rgb(117, 0, 0);
  border-radius: 8px;
}

.zoom {
  width: fit-content;
  height: 50vh;
  object-fit: cover;
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.container {
  width: 90%;
  height: 100%;
  margin: 5%;
  margin-top: 0;
}

.slick-slide {
  height: 320px;
  border: 4px none #f25634;
  box-sizing: border-box;
}

.slick-slide img {
  border: 2.5px none white;
  box-sizing: border-box;
}
